:root {
    font-family: Futura,Trebuchet MS,Arial,sans-serif; 
    color: #3e363f;
    background-color: #ddd;
} 

form {
    border: 0px;
}
.form-button {
    border: 0px;
    padding:10px;
    border-radius: 4px;
    margin: 4px;
    font-size: 18px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    width: 400px;
    max-width: 100%;
    cursor: pointer;
}
.form-button:hover {
    background-color: #3e363f;
    color: #ddd;
}

.inline-form-button {
    border: 0px;
    padding:10px;
    border-radius: 4px;
    margin: 4px;
    font-size: 18px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    cursor: pointer;
}
.search-button {
    border: 0px;
    padding:10px;
    border-radius: 4px;
    margin: 4px;
    font-size: 18px;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    cursor: pointer;
}
.inline-form-button:hover {
    background-color: #3e363f;
    color: #ddd;
}
.search-button:hover {
    background-color: #3e363f;
    color: #ddd;
}

.form-alert-container {
    width: 400px;
    max-width: 100%;
}
input {
    border: 0px;
    padding:10px;
    border-radius: 4px;
    margin: 4px;
    font-size: 18px;
    width: 400px;
    max-width: 100%;
}